@model IEnumerable<IEXTrading.Models.Company>
@{
    ViewData["Title"] = "Top5Sell";
}

<h2>Top 5 Sell Picks</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Company Name
            </th>
            <th>
                Sector
            </th>
            <th>
                Open
            </th>
            <th>
                Close
            </th>
            <th>
                High
            </th>
            <th>
                Low
            </th>
            <th>
                Latest Volume
            </th>
            <th>
                Price Earnings Ratio
            </th>
            <th>
                52 Week High
            </th>
            <th>
                52 Week Low
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.companyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.open)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.high)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.low)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latestVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peRatio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.week52High)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.week52Low)
                </td>
            </tr>
        }
    </tbody>
</table>
